<!-- Server statistics
			================================================== -->
		<section class="well row-fluid widget-pie-charts">
			<h3 class="box-header">
				All about me
			</h3>
			<div class="box no-border non-collapsible">
				
				
				<div class="span10">
					<blockquote>An experienced PHP/MySQL/jQuery developer.</blockquote>
				</div>

				<div class="span2">
					<div>
						<img src="assets/images/pete.png" class="img-circle" title="LOL.. Tooltip!">
					</div>
				</div>








<!--
				<div class="span2 pie-chart">
					<div id="easy-pie-chart-1" data-percent="95">
						95%
					</div>
					<div class="caption">
						IKM - PHP5 Programming
					</div>
				</div>
				
				<div class="span2 pie-chart">
					<div id="easy-pie-chart-2" data-percent="97">
						97%
					</div>
					<div class="caption">
						Brainbench - PHP 5.3
					</div>
				</div>

			-->

				
		</section>
		<!-- / Server statistics -->

		<!-- boxes -->

		<div class="box no-border non-collapsible">
		  <div class="span4">
		  	<div class="box non-collapsible">Playground</div>
		  </div>
		  <div class="span4">
		  	<div class="box non-collapsible">Projects</div>
		  </div>
		  <div class="span4">
		  	<div class="box non-collapsible">Testimonials</div>
		  </div>
		</div>


		<!-- /boxes-->